{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]",
    ".*\\.s?css$"
  ],
}